/*@import 'icons.css';*/

@import 'fonts.css';

html, body, h1, h2, h3, h4, h5, p, a {
    font-family: 'Share Tech Mono', monospace;
    letter-spacing: 1px;
    font-size: 9pt;
    margin: 0;
}

body, a {
    color: #4F4949;
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    text-transform: capitalize;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-size: 9pt;
    font-size: 13px;
    color: #444;

    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

hr {
    border: none;
    border-top: 1px #efefef solid;
    text-shadow: none;
    margin: 0.5em;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

::-webkit-scrollbar {
    background: #dfdfdf;
    border-radius: 4px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}
