html {
    overflow-x: hidden;
}

body {
    width: 320px;
    height: 476px;
}

.main {
    background-color: #e6e6eb;
    height: 380px;
    position: relative;
    z-index: 900;
    box-shadow: 0  4px 3px -2px rgba(0, 0, 0, .15) inset,
                0 -4px 3px -2px rgba(0, 0, 0, .15) inset;
}

.main .status, .main .actions, .main .player {
    height: 42px;
}

.main .status {
    position: relative;
    overflow: hidden;
    height: 42px;
}

.main .status .status-inner {
    position: absolute;
    width: 100%;
    left: 0;
    top: -42px;
    transition: top .2s;
}
.main .status.show .status-inner {
    top: 0;
}

.main .player {
    height: 294px;
}

.main .player canvas {
    display: block;
}

.main .status .details p {
    float: left;
    width: 69px;
    margin: 0 2px;
    text-align: center;
}

.main .status .details p .label,
.main .status .details p .value {
    display: block;
}

.main .status .details p .label {
    padding: 6px 0;
    text-transform: uppercase;
    font-size: 9pt;
}

.main .status .details p .value {
    border: 1px #000 solid;
    padding: 1px;
}

.main .status .details p .value::before {
    display: block;
    content: " ";
    background-color: #000;
    height: 4px;
    width: 20%;
}

.main .status .details, .main .status .issues {
}

.main .status .issues {
    height: 32px;
}

.main .status .details {
    height: 42px;
}

.main .status .issues .issue,
.main .status .issues .action,
.main .status .details .action,
.main .status .issues .issue a,
.main .status .issues .action a,
.main .status .details .action a {
    height: 100%;
    width: 24px;
    float: right;
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .status .issues .issue img,
.main .status .issues .action img,
.main .status .details .action img {
    display: block;
    height: 16px;
    width: 16px;
}

.main .actions p {
    float: left;
    width: 40px;
    text-align: center;
    padding-top: 1px;
}

.main .actions p a {
    display: block;
    padding: 8px;
    margin: 2px;
}

.main .actions p a img {
    display: block;
}
.main .actions p a,
.main .status p .label {
    transition: background-color .2s;
}

.main .actions p a:focus,
.main .actions p a.selected {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 2px;
}

.header, .footer {
    background-color: #fff;
    width: 100%;
    height: 48px;
}

.main .player i,
.main .player b {
    background-color: #0c0c0c;
    margin: 0 0 1px 1px;
    height: 4px;
    width: 4px;
    float: left;
}
.main .player i {
    background-color: transparent;
}

.main.shadow .status p .value,
.main.shadow .status p .value::before {
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .2),
                1px 1px 0 0 rgba(0, 0, 0, .2) inset;
}

.main.shadow {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}