<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Virtual pet</title>
        <link rel="stylesheet" type="text/css" href="/css/global.css">
        <link rel="stylesheet" type="text/css" href="/css/popup.css">
    </head>
    <body>

        <div class="header">
        </div>

        <div class="main">
            <div class="status">
                <p>
                    <span class="label">feed</span>
                    <span class="value"></span>
                </p>
                <p>
                    <span class="label">hygiene</span>
                    <span class="value"></span>
                </p>
                <p>
                    <span class="label">health</span>
                    <span class="value"></span>
                </p>
                <p>
                    <span class="label">humor</span>
                    <span class="value"></span>
                </p>
            </div>

            <div class="player"></div>

            <div class="actions">
                <p>
                    <a href="#">
                        <img src="/images/actions/water.svg" type="image/svg+xml">
                    </a>
                </p>
                <p>
                    <a href="#">
                        <img src="/images/actions/food.svg" type="image/svg+xml">
                    </a>
                </p>
                <p>
                    <a href="#">
                        <img src="/images/actions/game.svg" type="image/svg+xml">
                    </a>
                </p>
                <p>
                    <a href="#">
                        <img src="/images/actions/education.svg" type="image/svg+xml">
                    </a>
                </p>
                <p>
                    <a href="#">
                        <img src="/images/actions/shower.svg" type="image/svg+xml">
                    </a>
                </p>
                <p>
                    <a href="#">
                        <img src="/images/actions/medical.svg" type="image/svg+xml">
                    </a>
                </p>
                <p>
                    <a href="#">
                        <img src="/images/actions/light.svg" type="image/svg+xml">
                    </a>
                </p>
                <p>
                    <a href="#">
                        <img src="/images/actions/settings.svg" type="image/svg+xml">
                    </a>
                </p>
            </div>
        </div>

        <div class="footer">
            <div class="actions">
            </div>
        </div>

        <script type="text/javascript" src="/js/popoup.js"></script>
    </body>
</html>